addict
attrs
cachetools
easydict==1.13
face-alignment==1.4.1
facenet-pytorch==2.5.3
grpcio
idna
imageio
importlib-metadata
Markdown
MarkupSafe
numba==0.56.4
numpy==1.21.6
oauthlib==3.2.2
onnx==1.14.1
opencv-python
packaging
pandas
Pillow
protobuf==3.20.3
pyarrow==12.0.1
pyparsing==3.1.4
requests==2.31.0
scikit-image==0.15.0
scipy==1.7.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==1.8
terminaltables==3.1.10
torch==1.13.1
torchvision==0.14.1
tqdm
typing_extensions
urllib3
zipp
